body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20vh;
}

h1 {
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

button {
    background-color: lime;
    color: black;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: black;
    color: lime;
}
